@model EntityCurrency

<div>
    цена товара в россии:
    <div>
        <p>
        @($"id = {Model.Id} NumCode = {Model.NumCode} CharCode = {Model.CharCode} Nominal = {Model.Nominal} Name = {Model.Name} Value = {Model.Value}")</p>
      
    </div>
</div>
